@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.heading-background {
    background-color:#fc590e ;
    width: 100%;
    
}
/* FOTTER COLOR
 FOTTER COLOR #2f0f08
 FOTTER HEADING #8c2f04
 HEADUNG TOP #fc590e

 */



.footer-distributed {
    background-color: #2f0f08; /* Change this color to your desired color */
    color: #fff; /* Text color */
    padding: 20px;
}

.container #bars, .container #times {
    font-size: 30px;
    color: #5e5d5d;
    cursor: pointer;
    padding: 10px;
    display: block;
}

.main-text{
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.content {
    padding: 20px;
    padding-left: 270px;
}

.container {
    height: 100%;
    width: 250px;
    position: absolute;
    background: #8c2f04;
    z-index: 1;
    transition: 0.5s ease;
    transform: translateX(-250px);
}



span {
    position: fixed;
    right: -40px;
    top: 30px;
    font-size: 25px;
    border-radius: 3px;
    color: #17da27;
    padding: 3px 8px;
    cursor: pointer;
    background-color: #000;
}

#bars {
    background: rgb(253, 118, 7);
}

#check:checked ~ .container {
    transform: translateX(0);
}

#check:checked ~ .container #bars {
    display: none;
}


#check:checked ~ section {
    transform: scale(1.2);
    filter: brightness(20%);
}

.main-content {
    padding: 5px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer {
    background-color: #b9821d; /* Orange background color */
    color: #fff; /* Text color */
    padding: 20px;
    margin-top: 20px;
}


.footer-heading {
    font-size: 20px;
    font-weight: bold;
    color: #fc590e;
}

.icon-footer {
    display: inline-block;
    margin-right: 10px;
}

.text {
    color: beige;
    font-size: 14px;
    font-weight: 700;
    margin-left: 25px;
    margin-bottom: 5px;
    margin-top: 3px;
}
.btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-icons {
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-icons a:hover {
    background-color: #3F71EA;
    color: #be6464;
}

.footer-icons a i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-icons a i.fa-facebook:before {
    content: "\f09a";
}

.footer-icons a i.fa-instagram:before {
    content: "\f16d";
}

.footer-icons a i.fa-linkedin:before {
    content: "\f08c";
}

.footer-icons a i.fa-twitter:before {
    content: "\f099";
}

.footer-icons a i.fa-youtube:before {
    content: "\f167";
}

.topic {
    color: #fc590e;
    font-size: 30px;
    font-weight: bold;
}

.info {
    color: gray;
    font-size: large;
    text-overflow: clip;
}

.main_logo {
    width: 30%;
    margin-bottom: 20px;
}
.line { 
    height: 3px;
    width: 98%;
    background-color: blue;
    text-align: center;
}
 

.image1 {
    width: 100%;
}
@media (max-width: 200px) {
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
.container .head {
    color: #fbfdce;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    background: linear-gradient(30deg, #dfe155, #ed4901);
}
.icon-footer {
    display: inline-block; /* or use 'inline' */
    margin-right: 10px; /* add some margin for spacing */
}

i {
    margin-right: 5px; /* add some margin for spacing between icon and text */
    
}
.space {
    color: #f0525f;
    margin-right: 30px;
    padding-left:5px ;
}

  ul, #myUL {
    list-style-type: none;
  }


  #myUL {
    margin: 0;
    padding: 0;
    display: inline;
  }

  .caret-btn {
    background-color: #8c2f04;
    color: white;
    padding-right: 70%;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-left: 5%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
    width: 90%; 
    text-align: left ;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: larger;
    display: inline;

  }


  .caret-btn::before {
    content: "\25B6";
    color: white;
    display: inline;
    margin-right: 10px;
    margin-left: 15px;
  }

  .caret-down::before {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 10px;
  }
  .head1 {
    color: #343232;
    font-size: large;
    font-weight: bold;
    margin-top: 4px;
    padding-bottom: 15px;
  }

  .nested {
    display: none;
    margin-left: 10%;
    font-size: lar;
  }

  .active {
    display: block;
  }